@import "../components/mixin";

.events {
  margin-top: 123px;
}

.home-events {
  border-radius: 10px;
  overflow: hidden;

  .home-event {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;

    height: 292px;
    background: $second_color;

    text-align: center;
    transition: all .5s ease;

    &:nth-child(n+9) {
      display: none;
    }

    &:nth-child(even) {
      background: $main_color;
    }

    @media screen and (min-width: 600px) and (max-width: 959px) {
      width: 49.53271%;
      float: left;
      margin-right: 0.93458%;

      &:nth-of-type(even) {
        width: 49.53271%;
        float: right;
        margin-right: 0.93458%;
      }
    }

    @media screen and (min-width: 960px) {

      width: 24.29907%;
      float: left;
      margin-right: 0.93458%;
      margin-bottom: 1.7%;

      &:nth-of-type(4n) {
        width: 24.29907%;
        float: right;
        margin-right: 0.93458%;
      }
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    .overlay {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.29);
      transition: all 0.5s;
      &:hover {
        background-color: transparent;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      width: 95%;
      padding: 15px 7px 0;
      text-transform: uppercase;
      font-size: 1.7em;
      font-weight: 300;
    }

    p {
      position: absolute;
      bottom: 0;
      right: 50%;
      transform: translateX(50%);

      width: 90%;
      padding-bottom: 15px;

      font-size: 14px;
      font-weight: 400;
    }

    .tribe-event-schedule-details {
      span {
        display: block;
      }
    }
  }
}

.tribe-events-event-meta {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#tribe-events-pg-template {
  max-width: 780px;
  overflow: hidden;
  line-height: 1.5;
  .tribe-events-event-image {
    text-align: center;
    img {
      width: 50%;
    }
  }
  #tribe-events {
    position: relative;

    .tribe-events-single-section {
      position: relative !important;
      transform: inherit;
      padding: 0 0 60px 17px;

      h3 {
        font-size: 20px;
        font-style: italic;
        color: #119595;
      }
    }

    .tribe-events-ajax-loading {
      display: none;
    }
  }

  .tribe-events-back {
    display: none;
  }

  h1.tribe-events-single-event-title {
    @media screen and (min-width: 768px) {
      margin: 40px auto 70px;
    }
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
  }

  .tribe-events-schedule.tribe-clearfix {

    font-style: italic;
    color: #119595;
    font-size: 20px;
    margin-bottom: 20px;

    h2 {
      margin-bottom: 40px;
      text-align: center;
    }

  }
  .tribe-events-event-image {
    margin: 40px;
  }
  .tribe-events-single-event-description.tribe-events-content {
    iframe {
      max-width: 100%;
    }
  }
  .tribe-events-meta-group.tribe-events-meta-group-details {
    display: none;
  }

  div#tribe-events-header,
  div#tribe-events-content .tribe-events-cal-links {
    display: none;
  }

  .tribe_events {
    //overflow: hidden;
  }
  .tribe-events-single-event-description.tribe-events-content {

    p {
      margin: 0 40px 20px;
    }
  }

}