@import "../components/mixin";

.site-footer {
  position: relative;
  padding: 14px 0;
  background: #333333;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  a {
    color: $promolod-brand-6;
  }

  .social-media-icons {

    li {
      display: inline-block;
      width: 41px;
      height: 41px;

      margin-right: 5px;
      transition: 0.3s;
      &:last-child {
        margin-right: 0;
      }

      background: #b7e2f3;
      border-radius: 100%;
      text-align: center;

      &:hover {
        background: $promolod-brand-6;
      }

      a {
        display: block;
        line-height: 2.3;
        font-size: 18px;
        color: #303030;
      }
    }
  }
  .contact-info {
    padding: 15px 0 0;
    font-size: 14px;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
      .fa {
        margin-right: 5px;
      }

      &:hover {
        .fa {
          color: #fff;
        }
      }
    }
  }

  @media screen and (min-width: 680px){
    .social-media-icons {
      float: right;
    }

    .contact-info {
      float: left;

      li {
        display: inline-block;
        margin-right: 35px;
      }
    }
  }
}
// TO TOP BUTTON --------------------------

.go-top {
  height: 40px;
  color: rgb(53, 53, 53);
  font-size: 25px;
  background-color: rgba(241, 241, 241, 0.3);
  justify-content: center;
  align-items: center;
  width: 40px;
  position: fixed;
  display:none; // <---- Dont display on page load
  right: 0.1em;
  text-decoration: none;
  z-index: 111;
}