.single-content {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 70px;

  .post-title {
    padding-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    color: #303030;
    line-height: 45px;
    font-family: $montserrat-promolod-font;
    font-weight: bold;
    text-transform: uppercase;
  }

  img {
    margin-bottom: 40px;
  }

  p {
    font-family: $lato-promolod-font;
    max-width: 750px;
    margin: 0 auto;
    line-height: 1.5;
    font-size: 14px;
  }
}